.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #e2e2e2;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator input {
  width: 100%;
  padding: 10px;
  font-size: 26px;
  text-align: right;
  border: none;
  outline: none;
}

.calculator .keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator button {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.calculator button:hover {
  background-color: #e2e2e2;
  border-color: #ccc;
  color: #222;
}

.calculator .operator {
  background-color: #007aff;
  color: #fff;
  border-color: #007aff;
}

.calculator .operator:hover {
  background-color: #0055ff;
  border-color: #0055ff;
}

.calculator .clear {
  background-color: #e2e2e2;
  color: #444;
}

.calculator .clear:hover {
  background-color: #ccc;
  border-color: #bbb;
}

.calculator .equals {
  background-color: #ff9500;
  color: #fff;
  border-color: #ff
